* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    min-height: 100vh;  
}
header {
    border: 1px solid greenyellow;
    min-height: 20vh;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left img {
    width: 5vw;
    height: 5vh;
}
ul {
    display: flex;
}
li {
    display: flex;
}

a {
    color: black;
    padding: 15px;
}
.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.bt {
    border: 0ch;
    font-size: 18px;
}
.bt-1 {
    border-radius: 15px;
    background-color: white ;
    font-size: 18px;
    width: 6vw;
    height: 4vh;
}
main {
    border: 1px solid red;
    min-height: 80vh;
    display: flex;
}
.left-1 {
    border: 1px solid blue;
    width: 50vw;
    padding: 30px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-1 h1,
p {
    color: black;
    padding: 20px;
}
.left-1 h1 {
    font-size: 60px;
}
.left-1 p {
    font-size: 30px;
    color: rgb(118, 115, 115);
}
.wrapper {
    border: 1px solid gold;
    width: 40vw;
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.lf button {
    border-radius: 10px;
    margin-bottom: 70px;
    margin-left: 15px;
    width: 8vw;
    height: 6vh;
    background-color: black;
    color: white;
    gap: 10px;
}
.lf-1 img {
    padding: 30px;
}